<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0297672 -0.0737542 -0.0310296" rpy="1.5751 -0.0249023 1.58017" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0297672 -0.0737542 -0.0310296   0.49244 -0.509562 0.495008 0.502808 wrist_3_link camera_aligned_depth_to_color_frame" />
</launch>
